
@{
    ViewData["Title"] = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div
  class="hero-wrap hero-bread"
  style="background-image: url('homeassets/images/bg_1.jpg')"
>
  <div class="container">
    <div
      class="row no-gutters slider-text align-items-center justify-content-center"
    >
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs">
          <span class="mr-2"><a href="index.html">LIÊN HỆ</a></span>
        </p>
        <h1 class="mb-0 bread">Liên hệ</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section contact-section bg-light">
  <div class="container">
    <div class="row d-flex mb-5 contact-info">
      <div class="w-100"></div>
      <div class="col-md-3 d-flex">
        <div class="info bg-white p-4">
          <p>
            <span>Địa chỉ:</span> Hoà Hải, Quận Ngũ Hành Sơn, TP Đà Nẵng
          </p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="info bg-white p-4">
          <p>
            <span>Phone:</span> <a href="tel://1234567920">0958722138</a>
          </p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="info bg-white p-4">
          <p>
            <span>Email:</span>
            <a href="mailto:thang@gmail.com">thang@gmail.com</a>
          </p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="info bg-white p-4">
          <p><span>Website</span> <a href="#">vegefoods.com</a></p>
        </div>
      </div>
    </div>
    <div class="row block-9">
      <div class="col-md-6 order-md-last d-flex">
        <form action="#" class="bg-white p-5 contact-form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Họ và tên" />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Email" />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Tiêu đề" />
          </div>
          <div class="form-group">
            <textarea
              name=""
              id=""
              cols="30"
              rows="7"
              class="form-control"
              placeholder="Nội dung"
            ></textarea>
          </div>
          <div class="form-group">
            <input
              type="submit"
              value="Gửi phản hồi"
              class="btn btn-primary py-3 px-5"
            />
          </div>
        </form>
      </div>

      <div class="col-md-6 d-flex">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3835.7332974702213!2d108.25016631416865!3d15.975298246193258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142108997dc971f%3A0x1295cb3d313469c9!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2jhu4cgVGjDtG5nIHRpbiB2w6AgVHJ1eeG7gW4gdGjDtG5nIFZp4buHdCAtIEjDoG4!5e0!3m2!1svi!2s!4v1671893442394!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>
