@model ShoeShop.ModelView.LoginViewModel
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div
  class="hero-wrap hero-bread"
  style="background-image: url('homeassets/images/bg_1.jpg')"
>
  <div class="container">

    <div
      class="row no-gutters slider-text align-items-center justify-content-center"
    >
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs">
          <span class="mr-2"><a href="index.html">Đăng</a></span>
          <span>nhập</span>
        </p>
        <h1 class="mb-0 bread">ĐĂNG NHẬP</h1>
      </div>
    </div>
  </div>
</div>
<section class="ftco-section ftco-degree-bg">
  <div class="container">
      <h3 class="text-center">ĐĂNG NHẬP</h3>
    <div class="row justify-content-center" style="margin-top: 30px;">
    <div style="width: 40%;">
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" place-holder="Nhập email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
                    @if (ViewBag.Error != null)
                    {
                       <span class="text-danger" style="margin-bottom: 20px;">@ViewBag.Error</span>
                    }
            <div class="form-group">
                <input type="submit" value="Đăng nhập" class="btn btn-primary " />
            </div>
            <div>
                <h6>Bạn chưa có tài khoản?<a href="/dang-ky">Đăng kí</a></h6>
            </div>
        </form>
    </div>
     
    </div>
  </div>
</section>

