@model ShoeShop.ModelView.PlaceOrderVM

@{
    List<ShoeShop.ModelView.CartItem> carts = ViewBag.GioHang;
    ViewData["Title"] = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- .section -->
<div
  class="hero-wrap hero-bread"
  style="background-image: url('/homeassets/images/bg_1.jpg')"
>
  <div class="container">
    <div
      class="row no-gutters slider-text align-items-center justify-content-center"
    >
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs">
        </p>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
<form asp-action="Index" method="post" class="billing-form">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 ftco-animate">
          <h3 class="mb-4 billing-heading">Thông tin nhận hàng</h3>
          <div class="row align-items-end">
            <div class="col-md-6">
              <div class="form-group">
                <label for="firstname">Họ và tên</label>
                <input style="color:black !important;" required asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="lastname">Email</label>
                <input  style="color:black !important;" required asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="country">Quận/huyện</label>
                <div class="select-wrap">
                  <div class="icon">
                    <span class="ion-ios-arrow-down"></span>
                  </div>
                  <select style="color:black !important;" required asp-for="District" class="form-control">
                    <option value="Hải Châu">Hải Châu</option>
                    <option value="Ngũ Hành Sơn">Ngũ Hành Sơn</option>
                    <option value="Liên Chiểu">Liên Chiểu</option>
                    <option value="Cẩm Lệ">Cẩm Lệ</option>
                    <option value="Thanh Khê">Thanh Khê</option>
                    <option value="Sơn Trà">Sơn Trà</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="country">Phường</label>
                <div class="select-wrap">
                  <div class="icon">
                    <span class="ion-ios-arrow-down"></span>
                  </div>
                  <select style="color:black !important;" required asp-for="Ward" class="form-control">
                    <option value="Hải Châu 2">Hải Châu 2</option>
                    <option value="Hòa Hải">Hòa Hải</option>
                    <option value="Bắc Mỹ An">Bắc Mỹ An</option>
                    <option value="Hòa Quý">Hòa Quý</option>
                    <option value="Phước Mỹ">Phước Mỹ</option>
                    <option value="Thuận Phước">Thuận Phước</option>
                    <option value="Nam Dương">Nam Dương</option>
                    <option value="Hòa Cường Nam">Hòa Cường Nam</option>
                    <option value="Bình Thuận">Bình Thuận</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="streetaddress">Địa chỉ cụ thể</label>
                <input style="color:black !important;" required asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="streetaddress">Số điện thoại</label>
                <input style="color:black !important;" required asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="streetaddress">Ghi chú</label>
                <textarea rows="3" style="color:black !important;" asp-for="Note" class="form-control"></textarea>
              </div>
            </div>
          </div>
        
        <!-- END -->
      </div>
      <div class="col-xl-6">
        <div class="row mt-5 pt-3">
          <div class="col-md-12 d-flex mb-5">
            <div class="cart-detail cart-total p-3 p-md-4">
              <h3 class="billing-heading mb-4">Thông tin đơn hàng</h3>
              <div class="table-responsive">
                  <table class="table table-striped" style="min-width:200px !important;">
                      <thead class="thead-dark">
                          <tr>
                              <th>Sản phẩm</th>
                              <th>Thành tiền</th>
                          </tr>
                      </thead>
                      <tbody>
                      @if(carts != null && carts.Count() > 0) {
                          @foreach(var item in carts) {
                            <tr>
                                <td>@item.product.ProductName x <span class="font-weight-bold">@item.amount</span></td>
                                <td>@item.total.ToString("#,##0")đ</td>
                            </tr>
                          }  
                      }
                  </tbody>
                  </table>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="cart-detail p-3 p-md-4">
              <h3 class="billing-heading mb-4">Phương thức thanh toán</h3>
              <div class="form-group">
                <div class="col-md-12">
                  <div class="radio">
                    <label><input type="radio" asp-for="PaymentId" value="1" class="mr-2" /> Thanh
                      toán khi nhận hàng(COD)</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <div class="radio">
                    <label
                      ><input type="radio" asp-for="PaymentId" value="2" class="mr-2" />
                      Chuyển khoản MOMO</label
                    >
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <div class="radio">
                    <label
                      ><input type="radio" asp-for="PaymentId" value="3" class="mr-2" />
                      Chuyển khoản ngân hàng</label
                    >
                    <span asp-validation-for="PaymentId" class="text-danger"></span>
                  </div>
                </div>
              </div>

              <p>
                <input type="submit" value="Đặt hàng" class="btn btn-primary py-3 px-4" />
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- .col-md-8 -->
    </div>
  </div>
</form>
</section>
