
@{
    ViewData["Title"] = "Về chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div
      class="hero-wrap hero-bread"
      style="background-image: url('homeassets/images/bg_1.jpg')"
    >
      <div class="container">
        <div
          class="row no-gutters slider-text align-items-center justify-content-center"
        >
          <div class="col-md-9 ftco-animate text-center">
            <p class="breadcrumbs">
              <span class="mr-2"><a href="index.html">Home</a></span>
              <span>About us</span>
            </p>
            <h1 class="mb-0 bread">About us</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
      <div class="container">
        <div class="row">
          <div
            class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center"
            style="background-image: url(homeassets/images/about.jpg)"
          >
            <a
              href="https://vimeo.com/45830194"
              class="icon popup-vimeo d-flex justify-content-center align-items-center"
            >
              <span class="icon-play"></span>
            </a>
          </div>
          <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
            <div class="heading-section-bold mb-4 mt-md-5">
              <div class="ml-md-0">
                <h2 class="mb-4">Chào mừng đến mới Vegefoods</h2>
              </div>
            </div>
            <div class="pb-md-5">
              <p>
                Cửa hàng nông sản an toàn tại Thành Phố Hồ Chí Minh, luôn mong muốn đem đến cho các quý khách một trải nghiệm sản phẩm hoàn toàn an toàn từ các phương pháp nuôi trồng hữu cơ thuận tự nhiên từ khâu xử lý đất tại vùng trồng, xử lý nguồn nước tưới, chọn những giống rau củ quả ngon nhất trên thị trường để khai thác. Ngoài ra trồng trọt nông nghiệp nói chung và trồng rau củ quả nói riêng đều phải gặp các vấn đề khó khăn về cách xử lý dịch bệnh và sâu bọ đó cũng là một vấn đề cực kì khó khi duy trì tiêu chuẩn hữu cơ thông qua các phương pháp pha chế thuốc xử lý từ nguyên vật liệu thiên nhiên như tỏi, ớt ......
              </p>
              <p>
                Khách hàng sử dụng những sản phẩm rau củ quả của cửa hàng để mang về chế biến cho gia đình và những người thân yêu thưởng thức. Suni Green Farm tin chắc rằng nông sản an toàn luôn là đem đến cảm giác hài lòng từ hình thức bên ngoài, mùi hương đậm đà và vị ngọt tự nhiên bên trong của các dòng sản phẩm thuần thiên nhiên
              </p>
              <p><a href="/san-pham" class="btn btn-primary">Mua ngay</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
            <h2 style="font-size: 22px" class="mb-0">
              Đăng kí để nhận thông tin mới nhất
            </h2>
            <span
              >Đăng kí email để nhận thông tin khuyến mãi nhanh nhất</span
            >
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter email address"
                />
                <input type="submit" value="Subscribe" class="submit px-3" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section
      class="ftco-section ftco-counter img"
      id="section-counter"
      style="background-image: url(homeassets/images/bg_3.jpg)"
    >
      <div class="container">
        <div class="row justify-content-center py-5">
          <div class="col-md-10">
            <div class="row">
              <div
                class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate"
              >
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="10000">0</strong>
                    <span>Khách hàng</span>
                  </div>
                </div>
              </div>
              <div
                class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate"
              >
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="6">0</strong>
                    <span>Chi nhánh</span>
                  </div>
                </div>
              </div>
              <div
                class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate"
              >
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="10">0</strong>
                    <span>Đối tác</span>
                  </div>
                </div>
              </div>
              <div
                class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate"
              >
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="6">0</strong>
                    <span>Giải thưởng</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section testimony-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <span class="subheading">Đánh giá</span>
            <h2 class="mb-4">Phản hồi từ khách hàng</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div
                    class="user-img mb-5"
                    style="background-image: url(homeassets/images/person_1.jpg)"
                  >
                    <span
                      class="quote d-flex align-items-center justify-content-center"
                    >
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5 pl-4 line">
                      Far far away, behind the word mountains, far from the
                      countries Vokalia and Consonantia, there live the blind
                      texts.
                    </p>
                    <p class="name">PHƯƠNG LƯƠNG</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div
                    class="user-img mb-5"
                    style="background-image: url(homeassets/images/person_2.jpg)"
                  >
                    <span
                      class="quote d-flex align-items-center justify-content-center"
                    >
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5 pl-4 line">
                      Far far away, behind the word mountains, far from the
                      countries Vokalia and Consonantia, there live the blind
                      texts.
                    </p>
                    <p class="name">VĂN THẮNG</p>
                    <span class="position">Interface Designer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div
                    class="user-img mb-5"
                    style="background-image: url(homeassets/images/person_3.jpg)"
                  >
                    <span
                      class="quote d-flex align-items-center justify-content-center"
                    >
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5 pl-4 line">
                      Far far away, behind the word mountains, far from the
                      countries Vokalia and Consonantia, there live the blind
                      texts.
                    </p>
                    <p class="name">ĐỨC LỘC</p>
                    <span class="position">UI Designer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div
                    class="user-img mb-5"
                    style="background-image: url(homeassets/images/person_1.jpg)"
                  >
                    <span
                      class="quote d-flex align-items-center justify-content-center"
                    >
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5 pl-4 line">
                      Far far away, behind the word mountains, far from the
                      countries Vokalia and Consonantia, there live the blind
                      texts.
                    </p>
                    <p class="name">LÝ THẮNG</p>
                    <span class="position">Web Developer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div
                    class="user-img mb-5"
                    style="background-image: url(homeassets/images/person_1.jpg)"
                  >
                    <span
                      class="quote d-flex align-items-center justify-content-center"
                    >
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5 pl-4 line">
                      Far far away, behind the word mountains, far from the
                      countries Vokalia and Consonantia, there live the blind
                      texts.
                    </p>
                    <p class="name">Garreth Smith</p>
                    <span class="position">System Analyst</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row no-gutters ftco-services">
          <div
            class="col-lg-3 text-center d-flex align-self-stretch ftco-animate"
          >
            <div class="media block-6 services mb-md-0 mb-4">
              <div
                class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2"
              >
                <span class="flaticon-shipped"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Giao hàng miễn phí</h3>
                <span>Với đơn hàng trên 1.000.000đ</span>
              </div>
            </div>
          </div>
          <div
            class="col-lg-3 text-center d-flex align-self-stretch ftco-animate"
          >
            <div class="media block-6 services mb-md-0 mb-4">
              <div
                class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2"
              >
                <span class="flaticon-diet"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Thực phẩm sạch</h3>
                <span>Sản phẩm sạch an toàn</span>
              </div>
            </div>
          </div>
          <div
            class="col-lg-3 text-center d-flex align-self-stretch ftco-animate"
          >
            <div class="media block-6 services mb-md-0 mb-4">
              <div
                class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2"
              >
                <span class="flaticon-award"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Chất lượng tốt</h3>
                <span>Sản phẩm chất lượng</span>
              </div>
            </div>
          </div>
          <div
            class="col-lg-3 text-center d-flex align-self-stretch ftco-animate"
          >
            <div class="media block-6 services mb-md-0 mb-4">
              <div
                class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2"
              >
                <span class="flaticon-customer-service"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Hỗ trợ</h3>
                <span>Hỗ trợ 24/7</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

